<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.davidxl.dao.SysPermissionsMapper" >
  <resultMap id="BaseResultMap" type="com.davidxl.model.SysPermissions" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="is_end" property="isEnd" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
    <result column="modifer" property="modifer" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permission_id, permission_code, name, path, level, parent_id, is_end, notes, url, 
    enable, create_date, creator, modified_date, modifer, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_permissions
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_permissions
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.davidxl.model.SysPermissions" >
    <selectKey resultType="java.lang.Integer" keyProperty="permissionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_permissions (permission_code, name, path, 
      level, parent_id, is_end, 
      notes, url, enable, 
      create_date, creator, modified_date, 
      modifer, type)
    values (#{permissionCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{isEnd,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=INTEGER}, #{modifiedDate,jdbcType=TIMESTAMP}, 
      #{modifer,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.davidxl.model.SysPermissions" >
    <selectKey resultType="java.lang.Integer" keyProperty="permissionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionCode != null" >
        permission_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="isEnd != null" >
        is_end,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
      <if test="modifer != null" >
        modifer,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionCode != null" >
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isEnd != null" >
        #{isEnd,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        #{modifer,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.davidxl.model.SysPermissions" >
    update sys_permissions
    <set >
      <if test="permissionCode != null" >
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isEnd != null" >
        is_end = #{isEnd,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        modifer = #{modifer,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.davidxl.model.SysPermissions" >
    update sys_permissions
    set permission_code = #{permissionCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_end = #{isEnd,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modifer = #{modifer,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>